[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lassopv"]
	path = lassopv
	url = https://github.com/lingfeiwang/lassopv
	subdir = lassopv
